@page "/recipe"
@layout MainLayout


<PageTitle>Recipe</PageTitle>
<header>
    <h1>resepti.Nimi</h1>
    <!--@if (!string.IsNullOrEmpty())
        {
        <img src="@resepti.KuvaUrl" alt="Reseptin kuva" style="max-width: 100%; height: auto;" />
        }-->
</header>
<div>
    <p>Reseptin kuvaus.</p>
</div>

<div>
    <p>Reseptin ainesosat.</p>
</div>





@code {

}
