/* Yleiset tyylit */
.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* P‰‰otsikko */
.main-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: space-between;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    /* Header linkit ja napit */
    .main-header ::deep a, .main-header ::deep .btn-link {
        white-space: normal; /* Sallii rivinvaihdon */
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .main-header ::deep a:hover, .main-header ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .main-header ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

    .main-header a:last-child {
        position: relative;
        z-index: 2; /* Pit‰‰ napin p‰‰ll‰ muihin elementteihin verrattuna */
    }

/* Responsiiviset tyylit */
@media (max-width: 640.98px) {
    .main-header {
        justify-content: space-between;
        height: auto; /* Automaattinen korkeus */
    }

        .main-header ::deep a, .main-header ::deep .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main-header {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .main-header.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .main-header, .search-options-container {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

/* P‰‰sis‰ltˆ */
.main-body {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
}

/* K‰yttˆliittym‰n k‰ytt‰j‰valikko */
.user-menu {
    position: relative;
    display: inline-block;
}

.user-info {
    display: inline;
    cursor: pointer; /* N‰ytt‰‰ sormikursorin, kun elementti‰ klikataan */
    padding: 5px 10px; /* Varmistaa, ett‰ alue on klikattavissa */
    border-radius: 5px; /* Kulmat pyˆristet‰‰n */
    transition: background-color 0.3s, box-shadow 0.3s; /* Pehme‰ siirtyminen */
    font-weight: bold;
}

    .user-info:hover {
        background-color: #ddd; /* Vaalean harmaa taustav‰ri hoverin aikana */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Lis‰‰ varjo hoverin aikana */
    }

    .user-info span {
        user-select: none; /* Est‰‰ tekstin valinnan */
    }

.dropdown-menu {
    display: block; /* N‰ytet‰‰n, jos showDropdown on tosi */
    position: absolute;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    top: 100%;
    right: 0;
    min-width: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
}

    .dropdown-menu a {
        padding: 8px 16px;
        display: block;
        text-decoration: none;
        color: #333;
    }

        .dropdown-menu a:hover {
            background-color: #ddd;
        }

.user-menu .dropdown-menu {
    display: block;
}

.fas.fa-caret-down {
    margin-left: 5px;
}

/* Responsiiviset tyylit k‰ytt‰j‰tietojen osalta */
@media (max-width: 640px) {
    .user-info {
        font-size: 0.9rem;
    }
}

/* Komponentin siirto */
.page {
    transform: translateX(0%); /* T‰m‰ voi olla mukautettavissa tarpeen mukaan */
}
