@inherits LayoutComponentBase

<div class="main-layout">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @Body <!-- Tähän renderöidään Razor-sivun sisältö -->
    </main>

    <footer>
        <p>&copy; 2025 Reseptisovellus</p>
    </footer>
</div>

<style>
    /* Yksinkertainen ulkoasu */
    .main-layout header {
        background-color: #f8f9fa;
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
    }

    .main-layout footer {
        background-color: #f8f9fa;
        padding: 10px 20px;
        border-top: 1px solid #ddd;
        text-align: center;
    }

    nav a {
        text-decoration: none;
        color: #007bff;
        margin: 0 10px;

    }

    .dropbox {
        border: 2px dashed #ccc;
        padding: 20px;
        text-align: center;
        margin-bottom: 15px;
        background-color: #f0f8ff;
        transition: background-color 0.3s;
    }

        .dropbox:hover {
            background-color: #e0efff;
        }

    img {
        display: block;
        margin: 10px auto;
        max-width: 100%;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }


        nav a:hover {
            text-decoration: underline;
        }
</style>
